@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,400;0,700;1,300&family=Work+Sans:wght@400;600;700;800&display=swap');


/* navber style start */
* {
    box-sizing: border-box;
}

body {
    font-family: Work Sans;
}

.nav-conteniar {
    background-color: #FFF;
    height: 120px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.long-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    list-style: none;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding-right: 40px;
}

.n-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
}

li:hover {
    cursor: pointer;
    color: #E55473;
}

/* navber style end */
/* fast-section style start  */
.fast-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.fast-section-conten {
    width: 50%;
    display: flex;
    justify-content: center;
    background-image: url(images/Group\ 14.png);
}

.fast-section-conten-div {
    text-align: start;
}

.para {
    text-align: start;
}

h2 {
    color: #0B0223;
    font-size: 48px;
    margin-bottom: -5px;
    font-weight: 600;
    text-transform: uppercase;
}


h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin: -10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.fast-section-img {
    width: 50%;
}

.btn {
    border-radius: 48px;
    color: white;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 5px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.two {
    background: #4EC5F7;
}

/* fast-section style end  */
/* second-section- style start */
.second-section-conten {
    text-align: center;
    margin: 50px;
    margin-top: 100px;
}

.second-section-h2 {
    text-transform: none;
}

span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-contaniar {
    display: flex;
    width: 80%;
    margin: auto;
}

.card-div {
    padding: 15px;
}

.img-card {
    width: 90%;
}

/* second-section- style end */

/* start-play-now-section */
.play-now {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.play-now-conten {
    text-align: right;
}

.play-img {
    padding-top: 200px;
    width: 50%;
}

.pichi {
    position: relative;
    bottom: 300px;
    right: 115px;
}

/* btn-section  */
.btn-containar {
    width: 80%;
    margin: 0 auto;
    margin-top: -150px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    height: 300px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.btn-box {
    width: 215px;
    height: 80px;
    margin: 5px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background: #FFF;
    border: none;
}

.btn-box:hover {
    cursor: pointer;
    background-color: #FFF;
    ;
    border: solid 2px red;
}

.btn-box:hover p {
    color: #F948B2;
}

/* footer style  */
.footer-section {
    background: #0B0223;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-f-img {
    height: 50%;
}

.footer-p {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #FFF;
}

.footer-p p {
    color: #FFF;
    margin-top: 50px;
}

.f-icon {
    text-align: center;
}

.fo-icon {
    margin-top: 50px;
    margin-right: 39px;
}

.footer-p2,
.footer-p23 {
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 50px;
}

.footer-p23 {
    margin-bottom: 50px;
}